/* font: 16px/1.3334 Roboto,sans-serif; */

.g-btn {
  border: none;
  padding: 8px 18px;
  font-size: 14px;
  line-height: 20px;
  color: #fefefe;
  background: #00aff0;
  min-width: 78px;
  transition: opacity 0.15s ease, background-color 0.15s ease,
    box-shadow 0.15s ease;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
}

.g-btn:hover {
  background: #0091ea;
  color: #fefefe;
}

/* .g-btn.m-flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
} */

.g-btn:not(.m-default-font-weight) {
  font-weight: 500;
}

/* pop up style */
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.g-btn.m-border.m-active,
.g-btn.m-border:hover {
  box-shadow: inset 0 0 0 1px rgba(0, 145, 234, 0.75);
  color: #0091ea;
  background-color: rgba(0, 145, 234, 0.06);
}

.g-btn.m-border {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px rgba(138, 150, 163, 0.25);
  color: #00aff0;
  transition: color 0.15s, background-color 0.15s, box-shadow 0.15s;
  position: relative;
}

.g-btn.m-uppercase {
  text-transform: uppercase;
}

.l-footer nav[data-v-6a4bed29] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 5px;
  padding-bottom: 5px;
}
a {
  color: #00aff0;
  text-decoration: none;
}

.l-footer__menu__item[data-v-6a4bed29] {
  color: inherit;
  margin: 4px 16px;
}

.l-footer__menu__item[data-v-6a4bed29]:hover {
  color: #0091ea;
}